p {
    margin: 0;
  }

.container {
    max-width: 100%;
    
    background: linear-gradient(to right, #e0f7fa, #97ebf7);
}


.header {

    margin-bottom: 1rem;
    padding-right: 50px;
    width: 100%;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    width: 100%;

}

:host ::ng-deep .p-card {
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    transition: transform 0.2s;
}

:host ::ng-deep .p-card:hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 8px rgba(0,0,0,0.15);
}