.service-container {

  text-align: center; 
  max-width: 1200px;
  margin: auto;
}

.service-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  justify-content: center; 
}

.service-card {
  background: white;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 15px;
  text-align: center;
  
}

.service-card img {
  width: 250px;
  height: 150px;
  border-radius: 8px;
  object-fit: cover;
  display: block;
  margin: 0 auto;
}

.carousel {
    margin-top: 20px;
}

.service-grid {
    display: flex;
    justify-content: space-around;
}

.service-image {
    width: 100%; 
    height: 300px; 
    border-radius: 8px; 
    padding: 10px;
}
.title{
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}
